body,
html{
    padding:0;
    margin:0;
    background-color: black;
   
}
.aaa{
    color:white;
}

.A{
    width: 100%;
}

.B{
    display: flex;
    justify-content: flex-end;
}

.main{
    display: flex;
    justify-content: flex-end;
 
}

.main_box{
    width: 25vw;
    height: 65vh;
    border: 0.25px solid white;
    border-radius: 5px;
    margin-top:16vh;
    margin-right:5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.login_id_password{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:4vh;
}
.box_items{
    margin-bottom:30px;
}

.ID,
.PASSWORD{
    width: 80%;
    display: flex;
    height: 4.5vh;
    font-family:inherit;
    font-weight: bold;
    outline: red;    
    font-size: 19px;
    text-indent: 8px;
    border: 1px solid black;
    border-radius: 4px;
}

.ID::placeholder{
    font-size: 1.1rem;
   
}

.PASSWORD::placeholder{
    font-size: 1.1rem;
   
}

.PASSWORD{
    margin-top:4.5vh;
}

.buttons{
    justify-content: center;
    display: flex;
    width: 100%;
    position: relative;
    top:3vh;
   

}

.login_button,
.join_button{
    height: 8vh;
    width: 8vw;
    border: 1px solid black;
    border-radius: 40px;
    font-weight: bold;
    font-size:1.2rem;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    transition: all 0.2s linear;
    
}

.BT:hover{
    transform: scale(1.08);
}

.Home_logo{
    transition: all 0.2s linear;
}

.Home_logo:hover{
    transform: scale(1.08);
}

.login_button{
   margin-right:4vw;
   background-color: paleturquoise;
  
}

.logo{
    width: 9vw;
    margin-bottom:0;
    margin-bottom:2vh;
    height: 18vh;
  
}
.logo_div{
    display: flex;
    justify-content: center;
}

.id_error,
.pw_error{
    color:red
    
}

.id_error_div,
.pw_error_div{
   width: 100%;
   position: relative;
   left:2.5vw;
   margin-top:0.5vh;
}


.Home_logo{
    width: 80px;
    height: 80px;
    padding: 15px 0 0 20px;
}

